.main{
	height: 623px;
	width: 584px;
	background:#000;
	margin-left:400px;
	border: 1px solid green;
}
.header{
	height: 80px;
	width: 584px;
	margin: 1px solid red;
	background-color: black;
	text-align: left;
	float: left;
	
	
}
.header img{
	float:left;
	width:220px;
	margin-left:60px;
	margin-top:10px;
}
.phone{
		float:right;
		color: white;
		text-align:right;
		margin-right:10px;
	
}

.nav{
	width: 584px;
	height: 40px;
	background-color: 00c09b;
	float: left;
}
.nav ul{
	list-style: none;
	text-align:center;
	margin:0;
	padding:0;
}
.nav ul li{
	display:inline-block;
   line-height:40px;
}
.nav li a{
	font-size:20px;
	font-family:arial;
	color:white;
	text-decoration: none;
	padding: 0px 20px;
	

}
.image{
	float:left;
	margin-top:2px;
	width: 584px;
	height: 178px;
	background:url(rect975.png)no-repeat;
	background-size:cover;
	background-position:center;
}



.text{
	float: left;
	width: 584px;
	height: 247px;
	background-color: 00c09b;
 	margin-top: 2px;
	
}
.txt{
	width: 330px;
	height: 235px;
	float: left;
	text-align: center;
	
	
}
.video{
	float:right;
	margin-right:10px;
	margin-top:20px;
	
}
.frame{
	border:4px solid white;
}
.footer{
	float: left;
	height: 79px;
	width: 584px;
	background-color: black;
	color: white;
}
.copy{
	float: left;
	margin-top: 50px;
	margin-left: 80px;
	font-size: 10px;
}
.link{
	float: left;
	margin-left: 391px;
	margin-bottom: 50px;
	color: white;
}
.touch{
	float:right;
	margin-right:30px;
}
.touch h3{
	text-decoration:underline;
}
.touch img{
	width:120px;
	height:20px;
	
}
